spring:
  application:
   name: AuthAPI

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-time: ${EXPIRATION_TIME}
  internal:
    token: ${INTERNAL_TOKEN}
